header {
    display: grid;
    justify-content: center;
    align-items: center;
height: max-content;
padding-top: 3rem;
gap: 1rem;

& #profile {
    display: grid;
    justify-content: center;
    gap: .5rem;
    & img {
        width: 8rem;
height: 8rem;
        border-radius: 999px;
        margin-inline: auto;
        border: 3px solid rgb(171, 171, 156);
    }

    & h1 {
color: azure;
font-size: 1.75rem;
text-align: center;
font-family: 'Sora', sans-serif;
    }

    & span {
        color: white;
    font-family: 'Raleway', sans-serif;
font-size: .875rem;
    }

}

& nav {
    display: grid;
    gap: 1rem;
& a {
    color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: .5rem;
    border: 2px solid #FFF;
 width: 19rem;   
border-radius: .5rem;
transition: all 500ms ease;
font-family: 'Roboto flex', sans-serif;

    & img {
        width: 1.75rem;
        transition: filter 500ms ease;
    }

&:hover {
    background-color: #fff;
    color: black;
    transform: scale(1.05);

& img {
    filter: invert(1);
}

}

}

}

& #technologies {
display: flex;
justify-content: center;
position: relative;
margin-top: 3rem;
margin-bottom: 6rem;
font-family: 'Raleway', sans-serif;
font-size: .875rem;

& figure {
    display: grid;
text-align: center;
color: whitesmoke;
position: absolute;
img {
    width: 4.25rem;
    transition: transform 500ms ease;
    cursor: pointer;

&:hover {
transform: scale(1.2);    
}

}

img[src*="JavaScript"] {
    width: 3.5rem;
    margin-bottom: .5rem;
}


}

& figure:nth-child(1) {
    left: 1rem;
    top: -1rem;
}

& figure:nth-child(2) {
top: 1rem;
}

& figure:nth-child(3) {
    right: 1rem;
    top: -1rem;
}

}

}

