main {
    padding-block: 8rem;
    display: grid;
    justify-content: center;
    & h2 {
        color: white;
        margin-bottom: 5rem;
        text-align: center;
        font-size: 2.5rem;
        font-family: 'Roboto flex', sans-serif;
    }
    & #projects {
display: flex;
flex-wrap: wrap;
justify-content: center;
gap: 10rem;

& .project {
    display: grid;

    & figure {
        position: relative;
    margin-inline: auto;
width: 22rem;
border-radius: 1rem;
margin-bottom: 1.5rem;

& img {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: transform 600ms ease;
    border: 3px solid rgb(71, 70, 70);
outline: 2px solid rgb(126, 126, 205);

&:hover {
    transform: scale(1.07);
}

}

&::before {
    content: "";
    position: absolute;
    bottom: 5%;
    left: 2%;
    width: 90%;
    height: 90%;
    border-radius: 999px;
    z-index: -1;
    filter: blur(50px);
    opacity: 0.4;
}

    }
}

& h3 {
    text-align: center;
    font-size: 1.75rem;
    margin-bottom: .25rem;
    font-family: 'Trebuchet MS', sans-serif;
    
}

p {
    font-family: 'Raleway', sans-serif;
    justify-self: center;
   color: white;
   text-align: center;
   max-width: 80%;
   font-size: .875rem;
}

& #click {
    color: white;
    display: inline-block;
    text-align: center;
    margin-block: 2rem 1rem;
font-family: 'Sora', sans-serif;
font-size: .875remrem;
}

& .links {
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: white;
    
    & a {
        padding-block: 1.25rem;
border: 1px solid #fff;
width: 8rem;
text-align: center;
border-radius: .5rem;
transition: all 500ms ease;
font-family: 'Inter', sans-serif;
font-size: .875rem;

&:hover {
    background-color: #fff;
    color: #000;
    scale: 1.05;
}

    }

} 


/* Specific styles for each project */
& #tembolo  {
& h3 {
    color: #e4b2b2;
}

   & figure {
    &::before {
        background: #e4b2b2;
    }
}
}

& #numbers {
    & h3 {
        color: #c58de7;
    }

    & figure {
        &::before {
            background: #c58de7;
        }
    }

}

& #patins {
    & h3 {
        color: #67e8f9;
    }

    & figure {
        &::before {
            background: #67e8f9;
        }
    }
}

& #convites {
    & h3 {
        color: #FF598B;
    }

    & figure {
        &::before {
            background: #FF598B;
        }
    }
}

& #livros {
    & h3 {
        color: #9547A5;
    }

    & figure {
        &::before {
            background: #9547A5;
        }
    }
}

& #refund {
    & h3 {
        color: #1f8459;
    }

    & figure {
        &::before {
            background: #1f8459;
        }
    }
}

& #portfolio {
    & h3 {
        color: #E3646E;
    }

    & figure {
        &::before {
            background: #E3646E;
        }
    }
}

& #zingen {
    & h3 {
        color: #fc4a1a;
    }

    & figure {
        &::before {
            background: #fc4a1a;
        }
    }
}

& #list {
& h3 {
    color: #ca3884;
}

& figure {
    &::before {
        background: #ca3884;
    }
}

}

& #matricula {
    & h3 {
        color: #FEE7D6;
    }
    
    & figure {
        &::before {
            background: #FEE7D6;
        }
    }
    
    }

    & #regular {
        & h3 {
            color: rgb(201, 199, 199);
        }
        
        & figure {
            &::before {
                background: #74ad5f;
            }
        }
        
        }

        & #convert {
            & h3 {
                color: #2f34ab;
            }

            & figure {
                &::before {
                    background: #2f34ab;
                }
            }

        }

        & #planejador {
            & h3 {
                color: #bef264;
            }

            & figure {
                &::before {
                    background: #bef264;
                }
            }
        }
    
        & #technews {
            & h3 {
                color: #60a5fa;
            }

            & figure {
                &::before {
                    background: #60a5fa;
                }
            }
        }

        & #travelgram {
            & h3 {
                color: #EF5F4C;
            }

            & figure {
                &::before {
                    background: #EF5F4C;
                }
            }
        }

    }
}

@media (width < 350px) {
    main {
        & #projects {
            & .project {
                & figure {
                    width: 19rem;
                }
            }
        }
    }
}
